body {
  background: url("media/pattern_whale.png");
  background-size: 100px 100px;
  background-repeat: repeat;
}


div {
  background-color: white;
  width: 65%;
  margin: auto;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.content {
  color: black;
  font-family: serif;
}

hr {
  width: 90%;
}

h2 {
  color: red;
  text-align: center;
  font-family: "Stylish", serif;
  font-weight: 500;
  font-style: italic;
  text-shadow: 2px 2px 4px #a8a3a3
}

h3 {
  color: grey;
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

ul {
  text-align: left;
  width: 50%;
  margin: auto;
}

table {
  width: 70%;
  margin: auto;
}

.time-table th {
  background-color: yellow;
}

.wp {
  background-color: lightblue;
}

.ds {
  background-color: rgb(160, 157, 208);
}

.nlp {
  background-color: rgb(167, 184, 224);
}

.sv {
  background-color: rgb(220, 176, 237);
}

.ai {
  background-color: rgb(94, 109, 165);
}

.cp {
  background-color: rgb(83, 124, 149);
}

.cd {
  background-color: rgb(136, 146, 252);
}